[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/Ferchupessoadev/nvim
	branch = main
[submodule "dwm"]
	path = dwm
	url = https://github.com/Ferchupessoadev/dwm
	branch = main
[submodule "st"]
	path = st
	url = https://github.com/Ferchupessoadev/st
